[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
facebook-business = "*"
flake8 = "*"
analytics = "*"
stripe = "*"
boto3 = "*"
analytics-python = "*"

[dev-packages]
boto3 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
